@import "variables";
@import "mixins";
body * {
  font-family: 'Ubuntu', sans-serif cursive !important;
}

.fill2 {
  height: 100%;
  background-image: url("../images/2.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* header style */

#mainNavbar {
  background-color: #34495e;
  border-bottom: 0;
  border-radius: 0;
  margin-bottom: 0;
}

#mainNavbar .navAnchor {
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
  font-size: 13px;
  color: #ffffff;
}

#mainNavbar a.navAnchor:hover {
  transition-duration: 0.6s;
  color: #ffffff;
  background-color: #1abc9c;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

#mainNavbar a.navAnchor:focus {
  color: #000;
  background-color: #fff;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

a.navAnchor:active {
  text-transform: lowercase;
}

.icon-bar {
  background-color: orange;
}

.logoImg {
  width: 50px;
  height: 50px;
}

.headSearchCol {
  display: table;
  margin-top: 7px;
}

.headSearchInput {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  height: 35px;
  font-size: 14px !important;
}

.headSearchSpan {
  display: table-cell;
  vertical-align: middle;
}

.headSearchSpanBtn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left: 0;
  height: 35px;
  border-color: #16a085;
  background-color: #16a085;
}

.headSearchSpanBtn:hover {
  transition-duration: 1s;
  border-color: #3498db;
  background-color: #3498db;
}


/* style of dropdown setting and logout menue*

.dropbtn {
    background-color: #222;
    color: white;
    padding: 8px;
    font-size: 14px;
    border: none;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    cursor: pointer;
}

span.user-name {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 18px;
}

span.dropdown-options {
  font-family: monospace;
  font-weight: bolder;
  font-size: 16px;
  text-transform: uppercase;
}

.caret {
  border-top-width: 8px;
  border-right-width: 6px;
  border-left-width: 6px;
}
/*end of dropdown and setting menue style */

/* end of header style */


body { font-size: 18px; }

.stars-container {
  position: relative;
  display: inline-block;
  color: transparent;
}

.stars-container:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color: lightgray;
}

.stars-container:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color: gold;
  overflow: hidden;
}

.stars-0:after { width: 0%; }
.stars-1:after { width: 2%; }
.stars-2:after { width: 4%; }
.stars-3:after { width: 6%; }
.stars-4:after { width: 8%; }
.stars-5:after { width: 10%; }
.stars-6:after { width: 12%; }
.stars-7:after { width: 14%; }
.stars-8:after { width: 16%; }
.stars-9:after { width: 18%; }
.stars-10:after { width: 20%; }
.stars-11:after { width: 22%; }
.stars-12:after { width: 24%; }
.stars-13:after { width: 26%; }
.stars-14:after { width: 28%; }
.stars-15:after { width: 30%; }
.stars-16:after { width: 32%; }
.stars-17:after { width: 34%; }
.stars-18:after { width: 36%; }
.stars-19:after { width: 38%; }
.stars-20:after { width: 40%; }
.stars-21:after { width: 42%; }
.stars-22:after { width: 44%; }
.stars-23:after { width: 46%; }
.stars-24:after { width: 48%; }
.stars-25:after { width: 50%; }
.stars-26:after { width: 52%; }
.stars-27:after { width: 54%; }
.stars-28:after { width: 56%; }
.stars-29:after { width: 58%; }
.stars-30:after { width: 60%; }
.stars-31:after { width: 62%; }
.stars-32:after { width: 64%; }
.stars-33:after { width: 66%; }
.stars-34:after { width: 68%; }
.stars-35:after { width: 70%; }
.stars-36:after { width: 72%; }
.stars-37:after { width: 74%; }
.stars-38:after { width: 76%; }
.stars-39:after { width: 78%; }
.stars-40:after { width: 80%; }
.stars-41:after { width: 82%; }
.stars-42:after { width: 84%; }
.stars-43:after { width: 86%; }
.stars-44:after { width: 88%; }
.stars-45:after { width: 90%; }
.stars-46:after { width: 92%; }
.stars-47:after { width: 94%; }
.stars-48:after { width: 96%; }
.stars-49:after { width: 98%; }
.stars-50:after { width: 100; }




/* search bar style */
#inputSearch {
  height: 70px;
  font-size: 20px;
}

#searchButton {
  height: 70px;
  width: 70px;
  font-size: 30px;
  background-color: #1376d7;
  border-color: #1376d7;
  transition-duration: 1s;
  border-left: 0;
}

#searchButton:hover {
  border-radius: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid yellow;
  border-left: 1px solid yellow;
  background-color: yellow;
  color: #000;
}

#searchRow {
  position: absolute;
  top: 32%;
}

#searchCol {
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 65px;
  padding-left: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
}

@keyframes mfa {
    from {
        color: yellow;
      }
    to {color: #3ac162;}
}

#searchRow p.mainHeader {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 52px;
  color: #3ac162;
  animation-name: mfa;
  text-shadow: 1px 1px 1px;
  animation-duration: 5s;
}

#searchRow p.subHeader, #searchRow h4 {
  color: yellow;
  font-family: 'Ubuntu', sans-serif;
  font-weight: lighter;
}

#searchRow p span.glyphicon{
  color: #3ac162;
  font-size: 24px;
  animation-name: mfa;
  animation-duration: 5s;
}
/* end of search bar style */

/* footer style */
.fixed-footer {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 20px;
  background-color: #000000;
  padding-bottom: 10px;
}

.fixed-footer a.faclass {
  text-decoration: none;
  color: white;
}

.fixed-footer a.faclass:hover {
  color: #1376d7;
}

.fixed-footer ul li.navclass {
  float: left;
  border-right: 1px solid #333;
  margin: 0 15px 20px 0;
  padding-right: 15px;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
  color: white;
}

.fixed-footer ul li:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

.fixed-footer ul {
  padding: 0;
  margin: 0;
}

.copy {
  color: yellow;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
  font-size: 16px;
}

.fixed-footer i.iclass {
  color: white;
  font-size:14px;
  padding: 7px;
  background-color: #777;
  border-radius: 50%;
  margin-bottom: 20px;
}

.fixed-footer i.iclass:hover {
  color: #1da1f2;
}

.fixed-footer a.famailclass {
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
}

.fixed-footer a.famailclass:hover {
  color: #1da1f2;
}

.fixed-footer a.fisocialclass {
  text-decoration: none;
  font-size: 30px;
  color: white;
  padding: 10px;
  background-color: transparent;
}

.fixed-footer a.fbooklclass:hover {
  color: #3b5998;
}

.fixed-footer a.twitterclass:hover {
  color: #1da1f2;
}

.fixed-footer a.ytubeclass:hover {
  color: #E62117;
}

.fixed-footer a.ghubclass:hover {
  color: #ccc;
}

/* end of footer style */



.addSnippetContainer {
  padding-bottom: 40px;
}

.addSnippet1stRow {
  padding-top: 60px;
}

button.sub-button {
  background-color: #6599FF;
  color: #fff;
}

button.sub-button:hover {
  background-color: #16a085;
  color: #fff;
  transition-duration: 1s;
}

.add-header {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
  color: #000;
}

 .view-snipp-title {
   font-size: 24px;
   font-family: 'Ubuntu', sans-serif;
   color: #333;
   font-weight: lighter;
 }

.labels h5, h5.labelsFont{
  font-family: 'Ubuntu', sans-serif;
  color: #6599FF;
}

ul.ul-input-tags {
  list-style-type: none;
  padding-left: 0px;
  display: inline-block;
}

ul li.input-li-tags {
  float: left;
  margin-right: 6px;
  border-radius: 3px;
  margin-bottom: 3px;
}

li.input-li-tags input.input-tags {
  width: 75px;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 3px 5px;
}

input.input-tags:focus {
  background-color: #555555;
  color: #fff;
  transition-duration: 1s;
  outline: none;
  border-color: transparent !important;
}

h5.addLabels {
  width: 65px;
  text-align: right;
}

textarea.addTextarea {
  resize: none;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
}

.labels {
  float: left;
}

#language, #type, #context {
  width: 65%;
}



/* request snippet style */

.first-col {
  border-top: 0.2px solid #8e44ad;
  border-right: 0.2px solid #8e44ad;
  border-left: 0.2px solid #8e44ad;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #ffffff;
  margin-bottom: 0;
}

.second-col {
  border-right: 0.2px solid #8e44ad;
  border-left: 0.2px solid #8e44ad;
  border-bottom: 0.2px solid #8e44ad;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #ffffff;
  padding-bottom: 10px;
}

.add-second-col {
  border-right: 0.2px solid #8e44ad;
  border-left: 0.2px solid #8e44ad;
  background-color: #ffffff;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.add-rd-col {
  border-right: 0.2px solid #8e44ad;
  border-left: 0.2px solid #8e44ad;
  border-bottom: 0.5px solid #8e44ad;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #ffffff;
  padding-bottom: 10px;
}

.reqSnippetRow {
  padding-top: 60px;
}

textarea.reqTextarea {
  resize: none;
  font-size: 16px;
}

/* end request style */

/* Explore style */
.langContainer {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #2c3e50;
  padding-bottom: 50px;
}

.EXPMainH {
  color: #2ecc71;
  font-family: 'Ubuntu', sans-serif;
  font-weight: lighter;
}

.EXPSubH {
  color: #FFEB00;
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
  font-weight: lighter;
  margin-bottom: 0;
}

.langMainCol {
  text-align: center;
}

#langUL {
  display: inline-block;
  margin-bottom: 0;
}

.listClass1 {
  float: left;
  margin-right: 25px;
  margin-bottom: 0;
  padding-top: 40px;
}

.listClass1:first-child {
  padding-top: 80px;
  margin-left: 0;
  margin-bottom: 0;
}

.listClass1:last-child {
  padding-top: 80px;
  margin-right: 0;
  margin-bottom: 0;
}

.listClass2 {
  float: left;
  margin-right: 25px;
  margin-bottom: 5px;
  padding-top: 15px;
}

.listClass2:first-child, .listClass3:first-child {
  padding-top: 40px;
  margin-left: 0;
  margin-bottom: 0;
}

.listClass2:last-child, .listClass3:last-child {
  padding-top: 40px;
  margin-right: 0;
  margin-bottom: 0;
}


.langImg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.listClass3 {
  float: left;
  margin-right: 25px;
  margin-bottom: 5px;
  padding-top: 0;
}

.anchorList, .anchorListFirst, .anchorListLast {
  display: block;
}

h3.EXPImgsHeader {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
  color: #000;
  text-shadow: 1px 1px 1px #34495e;
}

h4.EXPMiniH {
  color: #666;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  width: 70%;
  margin: 15px auto;
  text-align: center;
}

img.EXPImgs {
  width: 35%;
}

p.multiParagraph {
  color: #666;/*#7FC1C2;*/
  width: 65%;
  margin: 0 auto 20px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: lighter;
  font-size: 14px;
}
/* end of expolore style */

.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
    border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
  margin-bottom: -1px;
}

.panel-primary {
  border-color: #16a085;
}

.panel-primary>.panel-heading {
  background-color: #16a085;
  border-color: #16a085;
}


/********************************************************************/
/*** PANEL PRIMARY ***/
.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
   color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
  color: #fff;
  background-color: #2980b9;
  border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
  color: #16a085;
  background-color: #fff;
  border-color: #16a085;
  border-bottom-color: transparent;
}

div.lang-snip-row {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

h4.snip-title {
  margin: 0px;
  margin-bottom: 4px;
  font-family: 'Ubuntu', sans-serif;
  color: #000;
  font-weight: bolder;
}

a.explore-anchor {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

a.explore-anchor:hover>h4, a.explore-anchor:hover>h5 {
  transition-duration: .5s;
  color: #16a085;
}

.side-check-panel {
  width: 70%;
  float: right;
}

.side-info {
  font-size: 13px;
  font-family: 'Ubuntu', sans-serif;
}

.check-box {
  zoom: .9;
}

a textarea.explore-textarea {
  resize: none;
  font-size: 16px;
}

fieldset, label { margin: 0; padding: 0; }

/****** Style Star Rating Widget *****/

fieldset.rating {
  padding: 0;
  margin: 0;
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: 'Ubuntu', sans-serif;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

/* mahmoud rating

.rating{
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.rating .filled {
  color: #21568b;
}
end of mahmoud rating */


ul.ul-tags {
  display: inline-block;
  list-style-type: none;
  padding-left: 0px;
}

li.li-tag {
  float: left;
  padding: 0px 6px;
  border-radius: 4px;
  margin-right: 6px;
  background-color: #16a085;
  margin-bottom: 3px;
}

li a.li-tag-a {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

li a.li-tag-a:hover>span {
  color: #000;
  transition-duration: 1s;
}

li a span.tag-span {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  color: #fff;
}

/*
@media {(min-width: 992px)
  .col-md-8 {
    width: 66.66666667% !important;
  }
}

@media {(min-width: 768px)
  .col-sm-8 {
    width: 66.66666667% !important;
  }
}

@media {(min-width: 992px)
  .col-md-3 {
    width: 25% !important;
  }
}

@media {(min-width: 768px)
  .col-sm-3 {
    width: 25% !important;
  }
}

@media {(min-width: 992px)
  .col-md-6 {
    width: 50% !important;
  }
}

@media {(min-width: 768px)
  .col-md-6 {
    width: 50% !important;
  }
}
*/
.col-md-8, .col-sm-8 {
  width: 66.66666667% !important;
}

.col-md-6, .col-sm-6 {
  width: 50% !important;
}

.col-md-3, .col-sm-3 {
  width: 25% !important;
}

p.snipp-desc {
  font-family: 'Ubuntu', sans-serif;
  color: #34495e;
  font-weight: lighter;
  font-size: 14px;
}

h5.wrap {
  text-align: center;
  padding: 4px 6px;
  background-color: #6599FF;
  border-radius: 3px;
  display: inline-block;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
}

span.related-wrap {
  text-align: center;
  padding: 2px 4px;
  background-color: #777;
  border-radius: 2px;
  display: inline-block;
  color: #fff;
}

span.related-wrap i.related-eye-icon {
  font-size: 10px;
  color: #fff;
}

ul.snippet-tags {
  list-style-type: none;
  padding-left: 0px;
  display: inline-block;
  margin-top: 8px;
}

ul.snippet-tags li.li-tags {
  float: left;
  padding: 3px 8px;
  background-color: #6599FF;
  border-radius: 3px;
  margin-right: 6px;
  margin-bottom: 3px;
}

li a.li-tags-a {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

li a span.tags-span {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  color: #fff;
}

li a.li-tags-a:hover>span {
  color: #000;
  transition-duration: 1s;
}

.ace_editor { height: 200px; }





li.li-tag {
  float: left;
  padding: 0px 6px;
  border-radius: 4px;
  margin-right: 6px;
  background-color: #16a085;
  margin-bottom: 3px;
}

li a.li-tag-a {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

li a.li-tag-a:hover>span {
  color: #000;
  transition-duration: 1s;
}

li a span.tag-span {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  color: #fff;
}

ul.related-snipp {
  list-style-type: none;
  padding-left: 0px;
}

ul.related-snipp li a {
  text-decoration: none;
}

ul.related-snipp span.related-span {
  font-size: 14px;
}

ul.related-snipp li a:hover {
  color: #3af;
}

.month-style {
  padding-right: 0px;
  font-size: 14px;
}

.day-style {
  text-align: center;
  font-size: 14px;
  margin-left: -32px;
}

.year-style {
  font-size: 14px;
  padding-left: 0px;
  margin-left: -6px;
}

.input-year {
  height: 20px;
  width: 100%;
}

.panel-heading {
  font-size: 12px;
}

.user-dev {
  text-align: end;
}

.div-user-menue {
  text-align: center;
}

.user-menue-ul {
  min-width: 40%;
  margin-left: 55%;
  margin-top: -4px;
}

.user-menue {
  text-decoration: none !important;
  display: block;
  padding: 3px 0px;
  color: #000;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}

a.user-menue:hover {
  background-color: #1abc9c;
  color: #fff;
  transition-duration: .5s;
}

.user-menue span {
  font-size: 14px;
}

.inline-dev {
  display: inline-block;
  margin-right: 4px;
}

.inline-dev img {
  width: 30px;
  height: 30px;
}

.inline-dev1 {
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;
}

.return-name {
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
}

.return-btn {
  background-color: transparent;
  border: 0;
  border-radius: 0;
}

.return-btn:active, .return-btn:focus {
  border: 0;
  border-radius: 0;
  outline: 0 !important;
}

.caret {
  color: #fff;
  border-top-width: 5px;
  border-right-width: 4px;
  border-left-width: 4px;
  margin-left: 4px !important;
}

.save-profile-btn, .upload-profile-btn {
  padding: 0px 12px;
  background-color: #16a085;
  border-color: #16a085;
  outline: none;
  border-radius: 2px;
  transition-duration: .5s;
}
