<div id="footer" class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <a href="#"><img class="logoclass" src="images/logo.jpg" alt="logo" /></a>
      <div class="row">
        <div class="col-md-12">
          <ul class="list-unstyled">
            <li class="navclass"><a class="faclass" href="#/">Home</a></li>
            <li class="navclass"><a class="faclass" href="#">ContactUs</a></li>
            <li class="navclass"><a class="faclass" href="#">Faq</a></li>
            <li class="navclass"><a class="faclass" href="#">Support</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="copy">Codeshare &copy 2016</p>
        </div>
      </div>
    </div>

    <div class="col-md-5 col-md-offset-1">
      <a class="famailclass" href="#">
        <i class="fa fa-envelope iclass"></i>
      </a>
      <a class="famailclass" href="#">codeshare2016@gmail.com</a>
      <div class="row">
        <div class="col-md-12">
          <h4 class="copy">About the website</h4>
          <p class="faboutclass"> sfas dfasdfd safasdf
              afsdfasdf sdf <br>sdfsdsd
              sdf asdf asdfsa dfsdf 2125 sdfsa  lksld.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <a class="fisocialclass fbooklclass" href="#"><i class="fa fa-facebook"></i></a>
          <a class="fisocialclass twitterclass" href="#"><i class="fa fa-twitter"></i></a>
          <a class="fisocialclass ytubeclass" href="#"><i class="fa fa-youtube"></i></a>
          <a class="fisocialclass ghubclass" href="#"><i class="fa fa-github"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
