<div class="container-fluid reqSnipContainer" ng-init="populateOptions()">
  <div class="row reqSnippetRow">
    <div class="col-md-12" style="padding-left:40px;">
      <div class="row">
        <div class="col-md-8">
          <h2 id="reqMainHeader">Request A Snippet?</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 form-group">
          <label for="probTitle"><h5>Problem Title:</h5></label>
          <input type="text" class="form-control" id="probTitle" placeholder="Title" required ng-model="question.Title"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 form-group">
          <label for="probDescription"><h5>Description:</h5></label>
          <textarea class="form-control reqTextarea" placeholder="Add your description here..." rows="15" id="probDescription" required tabindex="101" data-min-length="" ng-model="question.description"></textarea>
        </div>
      </div>
      <div class="row" style="padding-top:20px;">
        <div class="labels">
          <label for="lang"><h5 class="addLabels">Language</h5></label>
        </div>
        <div class="col-md-2 form-group">
          <select class="form-control" id="language" ng-model="question.language" ng-options="lang.name for lang in options.language" >
          </select>
        </div>
        <div class="labels">
          <label for="snipType"><h5 class="addLabels">Type</h5></label>
        </div>
        <div class="col-md-2 form-group">
            <select class="form-control" id="type" ng-model="question.code_type" ng-options="type.name for type in options.code_type" required>

            </select>
        </div>
      </div>
      <div class="row">
        <div class="labels">
          <label for="reqContext"><h5 class="addLabels">Context</h5></label>
        </div>
        <div class="col-md-2 form-group">
          <select class="form-control" id="context" ng-model="question.context" ng-options="context.name for context in options.context" required>

          </select>
        </div>
        <div class="labels">
          <label for="reqTags"><h5 class="addLabels">Tags</h5></label>
        </div>
        <div class="col-md-4 form-group">
<input type="text" class="form-control" id="tags" ng-model="question.tags">
  </div>
      </div>
      <div class="row" style="padding:30px 0 30px;">
        <div class="col-md-2">
<button id="addSnippetBtn" type="submit" class="btn btn-warning" ng-click="postQuestion()">Submit</button>        </div>
      </div>
    </div>
  </div>
</div>
