<label for="addSnippet"><h5><b>Code Snippet</b></h5></label>
<div class="row">
    
    <div class="col-md-8">
        <div id="editor" ui-ace="{
			  require: ['ace/ext/language_tools'],
			  advanced: {
			      enableSnippets: true,
			      enableBasicAutocompletion: true,
			      enableLiveAutocompletion: true
			  },
			  onLoad: aceLoaded,
			  onChange: aceChanged
			}" ng-if= "!answer.code" ng-model="snippetView.code">
        </div>
        <div id="editor" ui-ace="{
              require: ['ace/ext/language_tools'],
              advanced: {
                  enableSnippets: true,
                  enableBasicAutocompletion: true,
                  enableLiveAutocompletion: true
              },
              onLoad: aceLoaded,
              onChange: aceChanged
            }" ng-if= "answer.code" ng-model="answer.code">
        </div>
    </div>
    <div class="col-md-4">
        <textarea class="form-control addTextarea" name="descriptionofcode" ng-model="snippetView.stdin" placeholder="stdin.." rows="8" id="stdin" required tabindex="101" data-min-length="">
        </textarea>
    </div>
</div>
<br>
<div class="row">
<!--     <div class="col-md-2 col-sm-2 form-group">
        <select class="form-control" id="lang" ng-options="lang as lang[1] for lang in snippetView.languages" ng-model="snippetView.language" ng-change="aceUpdate()"required>
        	<option value="">Language</option>
        </select>
    </div> -->
    <div class="col-md-2 col-sm-2">
        <button class="btn btn-warning" ng-click="compileSnippetView()" data-toggle="modal" data-target="#myModal">Run</button>
    </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{snippetView.language}} Output</h4>
            </div>
            <div class="modal-body">
                <p id="output"></p>
                <p id="time"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>