<div class="container-fluid" style="padding-top:90px;" ng-init="fetchSnippet()">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6" style="padding-left:40px;">
      <p class="view-snipp-title">
        {{snippet.title}}
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12" style="padding-left:40px;">
      <div class="row">
        <div class="col-md-2 col-sm-2" style="width:12%; border-right:1px solid #ccc; line-height:normal;">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <span class="stars-container stars-{{snippet.rank}}">★★★★★</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <b class="side-info">{{snippet.votes}}</b>
              <span class="side-info"> votes</span>
              <br>
              <b class="side-info">{{snippet.views}}</b>
              <span class="side-info"> Views</span>
              <br>
              <span title="Author" class="glyphicon glyphicon-user" aria-hidden="true" style="font-size:11px;"></span>
              <span title="Author" class="side-info"> {{snippet.username}}</span>
              <br>
              <b class="side-info">posted</b>
              <span class="side-info">{{snippet.date}}</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6" style="margin-top:10px;">
          <p class="snipp-desc">
            {{snippet.description}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top:15px;">

        <div class="col-md-8 col-sm-8 form-group" style="padding-left:40px;">

          <compile-viewer></compile-viewer>

          <div class="row" style="padding-top:20px;">
            <div class="labels">
              <h5 class="addLabels labelsFont">Language</h5>
            </div>
            <div class="col-md-1 col-sm-1">
              <a href="language/{{snippet.language}}">
                <h5 class="wrap">
                {{snippet.language}}
                </h5>
              </a>
            </div>
            <div class="labels">
              <h5 class="addLabels labelsFont">Type</h5>
            </div>
            <div class="col-md-1 col-sm-1">
              <a href="codetype/{{snippet.code_type}}">
                <h5 class="wrap">
                  {{snippet.code_type}}
                </h5>
              </a>
            </div>
          </div>

          <div class="row" style="margin-bottom:20px;">
            <div class="labels">
              <h5 class="addLabels labelsFont">Context</h5>
            </div>
            <div class="col-md-1 col-sm-1">
              <a href="context/{{snippet.context}}">
                <h5 class="wrap">
                  {{snippet.context}}
                </h5>
              </a>
            </div>
            <div class="labels">
              <h5 class="addLabels labelsFont">Tags</h5>
            </div>
            <div class="col-md-6 col-sm-6">
              <ul class="snippet-tags">
                <li class="li-tags"  ng-repeat="tag in snippet.tags"><a class="li-tags-a" href="tag/{{tag}}"><span class="tags-span" >{{tag}}</span></a></li>
              </ul>
            </div>
          </div>













        </div>
        <div class="col-md-3 col-sm-3 col-md-offset-1 col-sm-offset-1">
          <h4>Related</h4>

          <ul class="related-snipp">
            <li ng-repeat = "n in snippet.related" ng-init="getRelated()">
              <span class="related-wrap">
                <i class="glyphicon glyphicon-eye-open related-eye-icon" aria-hidden="true"></i><b style="font-size:11px;"> {{related[n-1].views}}</b>
              </span>
                <a href="/snippet/{{n}}"><span class="related-span">{{related[n-1].title}}</span></a>
            </li>
          </ul>

        </div>

  </div>
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Python output</h4>
            </div>
            <div class="modal-body">
              <p>Output</p>
              <p>{{snippet.output}}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


  <div class="row">
    <div class="col-md-5 col-sm-5" style="padding-left: 40px;">
      <textarea class="form-control" ng-model="new_comment" placeholder="Add your comment here..." rows="5"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-2" style="padding-left:40px; margin:15px 0px;">
      <button type="submit" class="btn sub-button" ng-click="addComment()">Submit</button>
    </div>
  </div>
  <div class="row" ng-repeat="comment in snippet.comments">
    <div class="col-md-12 col-sm-12" style="padding-left:40px;">
      <div class="row">

        <div class="col-md-2 col-sm-2" style="margin-bottom:8px; padding-bottom:6px; border-bottom:1px solid #ccc; width:12%;">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <span title="Author" class="glyphicon glyphicon-user" aria-hidden="true" style="font-size:11px;"></span>
              <span title="Author" class="side-info"> {{comment.username}}</span>
              <br>
              <b class="side-info">posted</b>
              <span class="side-info">{{comment.date}}</span>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-6" style="padding-left:0px;">
          <h5>
            {{comment.description}}
          </h5>
        </div>
      </div>
    </div>
  </div>

</div>
