<!DOCTYPE html>
<html lan="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/home-styles.css">
</head>

<body ng-app="myApp">
	<div class="container">
		<header>
			<div class="row" style="margin-top: 10px;">
				<div class="col-md-6">
					<!--<img class="logo-img img-responsive" src="2.png" alt="LOGO">-->
					<h1 id="logo-header">CoodSnippet</h1>
				</div>
				
				<div ng-controller="LogController">
					<div class="col-md-2" style="padding:0; width:auto;">
					   <h5>Username</h5>
					      <form action="#" method="POST" name="log-in" id="log-in-form">
						<input type="text" name="username" ng-model="user.username" required>
					      </form>
				       </div>
				      <div class="col-md-2">
					<h5>Password</h5>
					<input type="password" name="password" ng-model="user.password" required>
				      </div>
				      <div class="col-md-1" style="width:auto;">
				      	<form ng-submit="submit()">
					  <input type="submit" value="Login" id="login-button" form="log-in-form"  >
	                                </form>
				      </div>
				</div>
				
				
				<div class="col-md-1">
					<form action="signup.html" method="POST" name="sign-up" style="margin-top:35px;">
						<input type="submit" value="Sign Up">
					</form>
				</div>
			</div>

			<div class="row" id="nav-bar-id">
				<div class="col-md-12 text-center">
					<ul>
				 		<li><a href="#home">Explore</a></li>
					 	<li><a href="#news">Add</a></li>
					 	<li><a href="#contact">Request</a></li>
					</ul>
				</div>
			</div>
		</header>

		<div class="row">
			<div class="col-md-8 input-group" style="margin:auto">
				<!--
				<form action="#" method="GET" id="main-search-bar-id">
					<input id="main-search-bar" type="text" name="search" autocomplete="off" placeholder="Search for snippet..." required>
				</form>
				-->

				<!--
				<form action="" role="search" class="navbar-form" style="text-align:center">
   				<div class="form-group" style="width:75%">
        		<input type="text" class="form-control" placeholder="Search">


            	<button type="submit" class="btn btn-default" style="background-color:#207cca;">
                <span class="glyphicon glyphicon-search"></span>
            	</button>
          </div>
				</form>
				-->
	        	<input type="text" class="form-control" placeholder="Search for snippet" name="searchTerm" required>
          		<span class="input-group-btn">
            		<button class="btn btn-default" type="submit" style="background-color:#0288D1">
            			<span class="glyphicon glyphicon-search"></span> Search
            		</button>
          		</span>
			</div>
		</div>

		<div class="row" style="margin-top:30px">
			<div class="col-md-12 text-center">
				<video width="480" height="360" controls>
 			 		<source src="movie.mp4" type="video/mp4">
  				Your browser does not support the video tag.
				</video>
			</div>
		</div>

		<footer>
			<!--
			<div class="row">
				<div class="col-md-12">
					<p>&copy 2016 codeshare</p>
				</div>
			</div>
			-->
		</footer>

	</div>

</body>

</html>
