<!DOCTYPE html>
<html lan="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/home-styles.css">
</head>

<body>
	<div class="container">
		<header>
			<div class="row" style="margin-top: 10px;">
				<div class="col-md-6">
					<!--<img class="logo-img img-responsive" src="2.png" alt="LOGO">-->
					<h1 id="logo-header">CoodSnippet</h1>
			</div>

			<div class="row" id="nav-bar-id">
				<div class="col-md-12 text-center">
					<ul>
				 		<li><a href="#home">Explore</a></li>
					 	<li><a href="#news">Add</a></li>
					 	<li><a href="#contact">Request</a></li>
					</ul>
				</div>
			</div>
		</header>

		<div class="row">
			<div class="col-md-8 input-group" style="margin:auto">
				<!--
				<form action="#" method="GET" id="main-search-bar-id">
					<input id="main-search-bar" type="text" name="search" autocomplete="off" placeholder="Search for snippet..." required>
				</form>
				-->

				<!--
				<form action="" role="search" class="navbar-form" style="text-align:center">
   				<div class="form-group" style="width:75%">
        		<input type="text" class="form-control" placeholder="Search">


            	<button type="submit" class="btn btn-default" style="background-color:#207cca;">
                <span class="glyphicon glyphicon-search"></span>
            	</button>
          </div>
				</form>
				-->
	        	<input type="text" class="form-control" placeholder="Search for snippet" name="searchTerm" required>
          		<span class="input-group-btn">
            		<button class="btn btn-default" type="submit" style="background-color:#0288D1">
            			<span class="glyphicon glyphicon-search"></span> Search
            		</button>
          		</span>
			</div>
		</div>

		<div class="row" style="margin-top:30px">
			<div class="col-md-12 text-center">
				<video width="480" height="360" controls>
 			 		<source src="movie.mp4" type="video/mp4">
  				Your browser does not support the video tag.
				</video>
			</div>
		</div>

		<footer>
			<!--
			<div class="row">
				<div class="col-md-12">
					<p>&copy 2016 codeshare</p>
				</div>
			</div>
			-->
		</footer>

	</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
      <script src="app.js"></script>
      <script src="user_service.js"></script>  
      <script src="controllers.js"></script>
</body>

</html>
